html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'VT323', sans-serif;
}
canvas {
  display: block;
}

button {
  font-family: 'VT323', monospace;
  background-color: #53fda8;
  border: none;
  color: black;
  padding: 14px 40px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  }

